html{
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}
#atomicbut{
  color: white;
  background-color: #e7e7e7; color: black;
  border: none;
  font-size: 3mm;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  width:70%;
  -webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
text-align: center;
text-decoration: none;
display: inline-block;
}
#atomicbut:hover{
  color: white;
  background-color: #3366cc;
  border: none;
  font-size: 3mm;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;
display: block;
width:100%;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
text-align: center;
text-decoration: none;
display: inline-block;
}
