#linkbt3{
  font-family: 'Montserrat', sans-serif;
  font-size: 7mm;
  color: #e6e6e6;
border-style: solid;
border-color: rgb(57, 101, 161);
border-width: 2px;
border-radius: 40px;
background-color: rgb(14, 34, 41);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.3s;
  width: 30mm;
  height: 25mm;
  box-shadow: 0px 0px 5mm #003366;
  top: 5mm;
}
#linkbt3:hover{
  font-family: 'Montserrat', sans-serif;
border-style: solid;
color: black;
border-color: rgb(57, 101, 161);
border-width: 2px;
border-radius: 40px;
background-color: rgb(57, 101, 161);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.3s;
  width: 30mm;
  height: 25mm;
  box-shadow: 0px 0px 5mm rgb(57, 101, 161);
  cursor: pointer;
}
#linkbt3:active{
  font-family: 'Montserrat', sans-serif;
  font-size: 7mm;
border-style: solid;
border-color: #0073e6;
border-width: 2px;
border-radius: 40px;
background-color: #9900ff;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.3s;
  width: 30mm;
  height: 25mm;
  box-shadow: 0px 0px 5mm #0073e6;
  top: 5mm;
  cursor: pointer;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {background-color: #ff9933; text-shadow: 0 0 10px #0033cc;}
  to {background-color: yellow; text-shadow: 0 0 10px #4d79ff;}

}

/* Standard syntax */
@keyframes example {
  from {background-color: #ff9933;}
  to {background-color: yellow;}
}
/*end*/
.fruity1{

  background: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100px;
  font-size: 0mm;
  padding-left: 20mm;
  padding-right: 20mm;
  padding-top: 3mm;
  padding-bottom: 3mm;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.3s;
}
.fruity1:hover{
  background: rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 200px;
  font-size: 10mm;
  padding-left: 20mm;
  padding-right: 20mm;
  padding-top: 4mm;
  padding-bottom: 4mm;
  overflow: hidden;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.3s;
}
#tag{
  height: 30mm;
}
