html {
  scroll-behavior: smooth;
}


#menu{
  background:#005eb9;
font-size: 2vh;
}
#menu a:link, a:visited {
  background-color: #005eb9;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
#menu a:hover, a:active {
  background-color: #004080;
  color: white;
}
#menu1{

font-size: 2.5mm;
}
#menu1 a:link, a:visited {
  background-color: #005eb9;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
#menu1 a:hover, a:active {
  background-color: #004080;
  color: white;
}
#blk{
  padding-top: 10px;
  padding-left:50px;
  padding-right:50px;
  padding-bottom:10px;
}
/*
body{
  background-color:#666666;
  background: url(./webbackground.jpg) no-repeat center fixed;
  background-size: cover;
  overflow-x: scroll;
    font-size: 4.2mm;
}
*/
body {
  height: 300px; /* Used to enable scrolling */
  background: linear-gradient(55deg, #bfbfbf 5%, #737373 47%, #005eb9 85%);
}
article{
  padding-top: 10px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
  font-size: 4.2mm;
  background-color: #a6a6a6;
  text-align: center;

}
#article1{
  padding-top: 10px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
  font-size: 4.2mm;
  background-color: #a6a6a6;
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  border-width: 0.5mm;
  border-color: #005eb9;
}
#article2{
  padding-top: 10px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
  font-size: 4.2mm;
  background-color: #a6a6a6;
  text-align: center;
}
#article3{
  padding-top: 10px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
  font-size: 4.2mm;
  background-color: #a6a6a6;
  text-align: center;
  border-style: solid none;
  border-width: 0.3mm;
  border-color: #005eb9;

}

#article{
  font-size: 4.4mm;
  text-align: center;
}
#article2 a:link, a:visited {
  background-color: #005eb9;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3.5mm;
}
#article2 a:hover, a:active {
  background-color: #004080;
  color: white;
  font-size: 3.5mm;
}
#article3 a:link, a:visited {
  background-color: #005eb9;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3.5mm;
}
#article3 a:hover, a:active {
  background-color: #004080;
  color: white;
  font-size: 3.5mm;
}
#blk{

  padding-top: 10px;
  padding-left:50px;
  padding-right:50px;
  padding-bottom:10px;
}

/* The sidebar menu */
.sidebar {
 height: 100%; /* 100% Full-height */
 width: 0; /* 0 width - change this with JavaScript */
 position: fixed; /* Stay in place */
 z-index: 1; /* Stay on top */
 top: 0;
 left: 0;
 background-color: #111; /* Black*/
 overflow-x: hidden; /* Disable horizontal scroll */
 padding-top: 60px; /* Place content 60px from the top */
 transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
 padding: 8px 8px 8px 32px;
 text-decoration: none;
 font-size: 25px;
 color: #818181;
 display: block;
 transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
 color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
 position: absolute;
 top: 0;
 right: 25px;
 font-size: 36px;
 margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
 font-size: 5mm;
 cursor: pointer;
 background-color: #005eb9;
 color: white;
 padding: 10px 15px;
 border-style: solid;
 border-radius: 20px;
 border-width: 0.1mm;
 border-color: #005eb9;
 position: fixed;
 top: 10px;
}

.openbtn:hover {
 background-color: #004080;
  border-color: #004080;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
 transition: margin-left .5s; /* If you want a transition effect */
 padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
 .sidebar {padding-top: 15px;}
 .sidebar a {font-size: 18px;}
}
.topbtn {
 font-size: 5mm;
 cursor: pointer;
 background-color: #005eb9;
 color: white;
 padding: 10px 15px;
 border-style: solid;
 border-radius: 20px;
 border-width: 0.1mm;
 border-color: #005eb9;
 position: fixed;
 bottom: 10px;
text-decoration: none;
}
.topbtn:hover {
 font-size: 5mm;
 cursor: pointer;
 background-color: #004080;
 color: white;
 padding: 10px 15px;
 border-style: solid;
 border-radius: 20px;
 border-width: 0.1mm;
 border-color: #004080;
 position: fixed;
 bottom: 10px;
text-decoration: none;
}
.topbtn a:link{
  text-decoration: none;
}
