

#search{
background-color:#193366;
}
body{
  background-color:#8c8c8c;
}
#menu a:link, a:visited {
  background-color: #005eb9;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
#menu a:hover, a:active {
  background-color: #004080;
  color: white;
}
