html, body {
max-width: 100%;
max-width:100%;
overflow-x: scroll;
margin-right: 30px;
margin-left: 30px;
margin-top: 5px;
}
#head{

}
#video{


}
/* selected link */

#menu a:link, a:visited {
  background-color: #005eb9;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#menu a:hover, a:active {
  background-color: #004080;
  color: white;
}


body{
  background-color:#8c8c8c;
  background: url(./webbackground.jpg) no-repeat center fixed;
  background-size: cover;
  overflow-x: scroll;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
#blk{
  padding-top: 10px;
  padding-left:50px;
  padding-right:50px;
  padding-bottom:10px;
}
#main{
  padding-top: 10px;
  padding-left:50px;
  padding-right:50px;
  padding-bottom:10px;
  font-size: 4.2mm;
  background-color: #a6a6a6;
  border-style: solid;
  border-radius: 20px;
  border-width: 0.1mm;
  border-color: #005eb9;
}
#program{
  padding-top: 10px;
  padding-left:50px;
  padding-right:50px;
  padding-bottom:10px;
  font-size: 4.2mm;
  background-color: #a6a6a6;
  text-align: center;
}
#program a:link{
  background-color: #005eb9;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.8mm;
}
#program a:hover{
  background-color: #004080;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.8mm;
}
#about{
  font-size: 5mm;
}
#menu{
  background:#005eb9;
  border-style: solid;
  border-radius: 20px;
  border-width: 0.001mm;
  border-color: #005eb9;

font-size: 2vh;
}
#oops{
font-size: 5mm;
}
#hosted{
  color:#004080;
  position: fixed;
  bottom: 10px;
}
#logo{
  position: fixed;
  bottom:8px;
  right:12px;

}
#footer a:link, a:active{
    color: white;
  text-decoration: none;
}
#footer a:hover{
  color: white;
  text-decoration: underline;
}
#link a:link, a:active{
    color: white;
      background-color:#005eb9;
  text-decoration: none;
  border-style: solid;
  border-radius: 5px;
  border-top: 0.01mm;
  border-bottom: 0.01mm;
  border-width: 0.05mm;
  border-color: #005eb9;
}
#link a:hover{
  color: white;
  background-color:#004080;
  border-style: solid;
  border-radius: 5px;
  border-top: 0.01mm;
  border-bottom: 0.01mm;
  border-width: 0.05mm;
  border-color: #004080;
  text-decoration: underline;
}
