html, body {
max-width: 100%;
max-width:100%;
overflow-x: scroll;
margin-right: 30px;
margin-left: 30px;
margin-top: 5px;
}
html {
  scroll-behavior: smooth;
}
#head{

}
#video{


}
/* selected link */

#menu a:link, a:visited {
  background-color: #005eb9;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#menu a:hover, a:active {
  background-color: #004080;
  color: white;
}


body{
  background-color:#8c8c8c;
  background: url(./webbackground.jpg) no-repeat center fixed;
  background-size: cover;
  overflow-x: scroll;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
#blk{
  padding-top: 10px;
  padding-left:50px;
  padding-right:50px;
  padding-bottom:10px;
}
#main{
  padding-top: 10px;
  padding-left:50px;
  padding-right:50px;
  padding-bottom:10px;
  font-size: 4.2mm;
  background-color: #a6a6a6;
  border-style: solid;
  border-radius: 20px;
  border-width: 0.1mm;
  border-color: #005eb9;
}
#program{
  padding-top: 10px;
  padding-left:50px;
  padding-right:50px;
  padding-bottom:10px;
  font-size: 4.2mm;
  background-color: #a6a6a6;
  text-align: center;
}
#program a:link{
  background-color: #005eb9;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.8mm;
}
#program a:hover{
  background-color: #004080;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.8mm;
}
#about{
  font-size: 5mm;
}
#menu{
  background:#005eb9;
  border-style: solid;
  border-radius: 20px;
  border-width: 0.001mm;
  border-color: #005eb9;

font-size: 2vh;
}
#oops{
font-size: 5mm;
}
#hosted{
  color:#004080;
  position: fixed;
  bottom: 10px;
}
#logo{
  position: fixed;
  bottom:8px;
  right:12px;

}
#footer a:link, a:active{
    color: white;
  text-decoration: none;
}
#footer a:hover{
  color: #004080;
  text-decoration: underline;
}
#link a:link, a:active{
    color: white;
      background-color:#005eb9;
  text-decoration: none;
  border-style: solid;
  border-radius: 5px;
  border-top: 0.01mm;
  border-bottom: 0.01mm;
  border-width: 0.05mm;
  border-color: #005eb9;
}
#link a:hover{
  color: white;
  background-color:#004080;
  border-style: solid;
  border-radius: 5px;
  border-top: 0.01mm;
  border-bottom: 0.01mm;
  border-width: 0.05mm;
  border-color: #004080;
  text-decoration: underline;
}




/* Callout box - fixed position at the bottom of the page */
.callout {
 position: fixed;
 top: 20px;
 right: 20px;
 margin-left: 20px;
 max-width: 300px;

}

/* Callout header */
.callout-header {
 padding: 25px 15px;
 background: #555;
 font-size: 30px;
 color: white;
}

/* Callout container/body */
.callout-container {
 padding: 15px;
 background-color: #ccc;
 color: black

}

/* Close button */
.closebtn {
 position: absolute;
 top: 5px;
 right: 15px;
 color: white;
 font-size: 30px;
 cursor: pointer;
}

/* Change color on mouse-over */
.closebtn:hover {
 color: lightgrey;
}

/* The sidebar menu */
.sidebar {
 height: 100%; /* 100% Full-height */
 width: 0; /* 0 width - change this with JavaScript */
 position: fixed; /* Stay in place */
 z-index: 1; /* Stay on top */
 top: 0;
 left: 0;
 background-color: #111; /* Black*/
 overflow-x: hidden; /* Disable horizontal scroll */
 padding-top: 60px; /* Place content 60px from the top */
 transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
 padding: 8px 8px 8px 32px;
 text-decoration: none;
 font-size: 25px;
 color: #818181;
 display: block;
 transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
 color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
 position: absolute;
 top: 0;
 right: 25px;
 font-size: 36px;
 margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
 font-size: 5mm;
 cursor: pointer;
 background-color: #005eb9;
 color: white;
 padding: 10px 15px;
 border-style: solid;
 border-radius: 20px;
 border-width: 0.1mm;
 border-color: #005eb9;
 position: fixed;
 top: 10px;

}

.openbtn:hover {
 background-color: #004080;
  border-color: #004080;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
 transition: margin-left .5s; /* If you want a transition effect */
 padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
 .sidebar {padding-top: 15px;}
 .sidebar a {font-size: 18px;}
}


.topbtn {
 font-size: 5mm;
 cursor: pointer;
 background-color: #005eb9;
 color: white;
 padding: 10px 15px;
 border-style: solid;
 border-radius: 20px;
 border-width: 0.1mm;
 border-color: #005eb9;
 position: fixed;
 bottom: 10px;

}
.topbtn {
 font-size: 5mm;
 cursor: pointer;
 background-color: #005eb9;
 color: white;
 padding: 10px 15px;
 border-style: solid;
 border-radius: 20px;
 border-width: 0.1mm;
 border-color: #005eb9;
 position: fixed;
 bottom: 10px;
text-decoration: none;
}
.topbtn:hover {
 font-size: 5mm;
 cursor: pointer;
 background-color: #004080;
 color: white;
 padding: 10px 15px;
 border-style: solid;
 border-radius: 20px;
 border-width: 0.1mm;
 border-color: #004080;
 position: fixed;
 bottom: 10px;
text-decoration: none;
}
